*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.layout-container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: var(--color-primary);
}