:root {

  --color-primary:#2d3250;
  --color-secondary:#424769;
  --color-list:#676f9d;
  --color-button:#f9b17a;
  --color-text:#ffffff;

  font-family: "Raleway", sans-serif !important;


}

  @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap')